body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.bd-layout {
}

.bd-sidebar {
  grid-area: sidebar;
}

.bd-navbar {
  padding: 0.75rem 0;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

nav {
  width: 100%;
}

.tab-content {
  padding: 20px 10px;
}

.result{
  width: fit-content;
}

.json-example pre {
  white-space: pre-wrap;
  max-width: -webkit-fill-available;
  overflow-x: auto;
  margin-bottom: 1rem;
  background-color: #cfd5dc4f;
  border-radius: 6px;
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
}
/* 
em {
  color: #838b92;
} */

@media (min-width: 992px) {
  .bd-layout {
    grid-template-columns: 1fr 5fr;
  }
}
@media (min-width: 768px) {
  .bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
  }
  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
}
}
